/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}


/* Body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background-color: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

/* HEADER*/
.main-header {
  color: #000;
  background-color: #FFF;
}

.conteiner-header {
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
}


/* логотип */
.logo {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 60px;
}

/* навигация */
.main-navigation {
  background-color: #FFE17F;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 5px 60px 0;
}

.navigation-menu-one {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  align-items: center;
}

.navigation-menu-two {
  display: grid;
  grid-template-columns: 293px 1fr;
  column-gap: 276px;
  margin: 0;
  padding: 0;
}

.navigation-catalog-toggler {
  display: flex;
  margin: 0;
  padding: 0;
  width: 293px;
  min-height: 50px;
  align-items: center;
}

.navigation-user-login {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 231px;
}

.navigation-user-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.navigation-toggler-menu {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

.navigation-service-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 471px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  display: flex;
  margin: 0 auto;
  padding: 0;
  min-width: 105px;
  justify-content: space-between;
}

.navigation-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.navigation-service-link {
  display: block;
  text-decoration: none;
}

.navigatiton-toggler-item,
.navigation-service-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigatiton-toggler-item {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-toggler-link {
  font-size: 16px;
  line-height: 18px;
}

/* MAIN */
.main-index {
  flex-grow: 1;
}

.conteiner-slider {
  margin: 0 auto;
  width: 1160px;
}

.conteiner-main {
  margin: 0 auto;
  width: 1160px;
}

/* слайдер */
.main-slider {
  color: #000;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* переключение слайдера*/
.main-slider-button {
  display: flex;
  width: 530px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

/* слайды */
.main-slider-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-slider-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-pagination {
  display: flex;
  margin: 0 auto;
  padding: 0;

}

.main-slider-number {
  font-size: 180px;
  color: #FFF;
  background-color: #FFE17F;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 135px;
}

.main-slider-description {
  margin: 0;
  padding: 0;
  width: 560px;
}


.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.main-slider-description p {
  color: #444;
}

.main-slider-table tr:nth-of-type(1) {
  font-size: 36px;
}

.main-slider-table tr:nth-of-type(2) {
  font-size: 16px;
  color: #444;
}

/* каталог */
.category-catalog {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  width: 1160px;
}

.category-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.category-item {
  margin: 0;
  padding: 0;
  width: 160px;
}

.categori-item-img {
  background-color: #FFE17F;
}

.categori-item-span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
}

/* услуги */
.services {
  display: flex;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  width: 1160px;
  background-color: #F0F0F0;
  justify-content: space-between;
}

.services-list {
  margin: 0;
  padding: 0;
  width: 280px;
}

.services-description {
  margin: 0;
  padding: 0;
  width: 764px;
}

.services-description-item h3 {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

/* товары под заказ*/
.delivery-rare {
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0;
  width: 1160px;
  background-color: #F0F0F0;
}

.delivery-rare img {
  background-color: #FFE17F;
}

.delivery-rare-text {
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* о нас контакты */
.about {
  display: flex;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  width: 1160px;
  justify-content: space-between;
}

.about-us {
  margin: 0;
  padding: 0;
  width: 526px;
}

.about-contacts {
  margin: 0;
  padding: 0;
  width: 526px;
}

.about-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
}

.about-us-text {
  color: #444;
}

.about-transport li {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.contacts-title {
  font-size: 24px;
  font-weight: 700;
}

.about-us-contacts {
  color: #444;
}

/* подписка */
.subscription {
  display: flex;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F0F0F0;
}

.subscription-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  width: 348px;
}

.subscription-text {
  margin: 0;
  padding: 0;
  width: 560px;
  color: #444;

}

.subscription-span {
  margin: 0;
  padding: 0;
  width: 128px;
  color: #444;
}

/* FOOTER */
.main-footer {
  color: #FFF;
  background-color: #444;
}

.conteiner-footer {
  margin: 0 auto;
  width: 1160px;
}

.logo-footer {
  margin: 0;
  margin-top: 62px;
  margin-bottom: 35px;
  padding: 0;
}

.footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.footer-menu-one {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  justify-content: space-between;
}

.footer-menu-two {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  justify-content: space-between;
}

.footer-service-menu {
  display: flex;
  justify-content: space-between;
}

.footer-service-link {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.media {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.footer-menu-text {
  font-size: 16px;
  line-height: 20px;
  width: 234px;
 
}

/* СТРАНИЦЫ КАТАЛОГА */
/* заголовок страницы и хлебные крошки*/
.catalog-main-header {
  color: #000;
  background-color: #FFF;
}

.conteiner-main-header {
  margin: 0 auto;
  width: 1160px;
  background-color: #FFF;
}

.catalog-breadcrumbs {
  display: flex;
  flex-direction: column;
  width: 1079px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0;
  background-color: #FFF;
}

.main-catalog-title {
  font-family: "Raleway";
  color: #000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
  line-height: 20px;
}

/* каталог */
.main-catalog {
  flex-grow: 1;
  background-color: #F0F0F0;
}

.conteiner-catalog-main {
  margin: 0 auto;
  width: 1160px;
}

.catalog-products {
  display: flex;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 1160px;
  justify-content: space-between;

}

/* фильтр каталога*/
.catalog-filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

.catalog-chapter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 760px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #000;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

/* сортировка каталога */
.catalog-sort {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

.sort-link {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000;
}

/* карточки каталога */
.product-list {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.product-card-price {
  margin: 0;
  padding: 0;
  color: #444;
}

/* пагинация каталога*/
.catalog-pagination-more {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.catalog-pagination {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}
