/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  text-decoration: none;
  max-width: 240px;
  height: 20px;
  padding: 10px 6px;
  color: var(--basic-black, #000);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* Body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background-color: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

/* HEADER*/
.main-header {
  color: #000;
  background-color: #FFF;
}

.conteiner-header {
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  min-height: 186px;
  background-color: #FFE17F;
}


/* логотип */
.logo {
  position: relative;
  top: -20px;
  display: block;
  width: 145px;
  height: 36px;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 60px;
}

/* навигация */
.main-navigation {
  background-color: #FFE17F;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 5px 60px 0;
}

.navigation-menu-one {
  display: flex;
  min-height: 40px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.navigation-menu-two {
  display: grid;
  grid-template-columns: 293px 1fr;
  grid-template-rows: 50px;
  column-gap: 276px;
  margin: 0;
  padding: 0;
}

.navigaition-menu-color {
  margin-bottom: 148px;
}

.navigation-catalog-toggler {
  display: flex;
  margin: 0;
  padding: 0;
  width: 293px;
  min-height: 50px;
  align-items: center;
}

.navigation-form {
  width: 515px;
  position: relative;
  
}

.navigation-user-login {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 231px;
  
}

.navigation-user-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  /*margin-left: auto;*/
  padding: 0;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.navigation-toggler-menu {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

.navigation-service-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 471px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  display: flex;
  margin: 0 auto;
  padding: 0;
  min-width: 83px;
  justify-content: space-between;
}

.navigation-link {
  position: relative;
  display: block;
  color: #000;
  text-decoration: none;
}

.link-login {
  padding-left: 27px;
}

.link-liken {
  padding-left: 22px;
}

.link-basket {
  padding-left: 28px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  left: 0;
  margin: auto 0;
  fill: #000;
}

.navigation-basket-number {
  width: 21px;
}

.navigation-service-link {
  display: block;
  text-decoration: none;
}

.navigation-toggler-image {
  width: 50px;
  height: 50px;
}

.navigatiton-toggler-item,
.navigation-service-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigatiton-toggler-item {
  display: block;
  width: 293px;
  margin: 0;
  padding: 0;
}

.navigation-toggler-link {
  font-size: 16px;
  line-height: 18px;
}

/* MAIN */
.main-index {
  flex-grow: 1;
}

.conteiner-slider {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
}

.conteiner-main {
  margin: 0 auto;
  width: 1160px;
}

/* слайдер */
.main-slider {
  color: #000;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* переключение слайдера*/
.main-slider-button {
  display: flex;
  width: 530px;
  max-height: 60px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 30px;
}

.slider-button {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 60px;
  background-color: #FFF;
  border: none;
}

.slider-prev-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  fill: #000;
}

.slider-next-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  fill: #000;
  transform: rotate(-180deg);
}

/* слайды */
.main-slider-list {
  margin: 0;
  padding: 0;
}

.main-slider-item {
  display: block;
  margin: 0;
  padding: 0;
}

.main-slider-number {
  display: flex;
  width: 250px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  font-size: 180px;
  color: #FFF;
  background-color: #FFE17F;
  font-weight: 700;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-top: -240px;
  margin-left: 860px;
}

.main-slider-movement {
  margin: 0;
  padding: 0;
  width: 560px;
  height: 560px;
  margin-top: -150px;
}

.main-slider-description {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  margin-top: -450px;
  padding: 0;
  width: 560px;
  justify-content: space-between;
}

.slider-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 29px;
}

/* описание слайда */
.main-slider-description p {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  color: #444;
}

.main-slider-table {
  vertical-align: center;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 26px;
  
}

.main-slider-table tr:first-child {
  font-size: 36px;
}

.main-slider-table tr:last-child {
  font-size: 16px;
  color: #444;
}

/* элементы активности слайда */
.slider-pagination {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.slider-pagination-button {
  background-color: #FFF;
  border: none;
}

.slider-pagination-icon {
  fill: #000;
}

/* каталог */
.category-catalog {
  margin: 0;
  padding: 0;
  width: 1160px;
  margin-bottom: 70px;
}

.category-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  flex-direction: column ;
  margin: 0;
  padding: 0;
  width: 160px;
}

.category-item-a {
  text-decoration: none;
}

.categori-item-img {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.categogy-catalog-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  fill: #363636;
}

.categori-item-span {
  display: block;
  min-height: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
}

/* услуги */
.services {
  display: flex;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
  min-height: 319px;
  background-color: #F0F0F0;
  justify-content: space-between;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 280px;
}

.services-description {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 764px;
}

.services-description-item {
  display: grid;
  width: 694px;
  height: 174px;
  grid-template-columns: 480px 170px;
  justify-content: space-between;
}

.services-description-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.services-description-text h3 {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.services-description-text p {
  margin: 0;
  padding: 0;
}

.services-description-images {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.image-courier{
  width: 136px;
  height: 164px;
  background-image: url(../images/icons_services/courier.svg);
}

.image-guarantee {
  width: 171px;
  height: 195px;
  background-image: url(../images/icons_services/guarantee.svg)
}

.image-craeit {
  width: 156px;
  height: 188px;
  background-image: url(../images/icons_services/cradit.svg)
}

/* товары под заказ*/
.delivery-rare {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
}

.delivery-rare-button {
  text-decoration: none;
  display: flex;
  margin: 0;
  bottom: 0;
  align-items: center;
}

.delivery-rare-image {
  width: 125px;
  height: 100px;
}

.delivery-rare img {
  background-color: #FFE17F;
  
}

.delivery-rare-text {
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* о нас контакты */
.about {
  display: grid;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 1160px;
  grid-template-columns: 526px 526px;
  column-gap: 108px;
  
}

.about-us {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.about-contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.about-title {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 48px;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
}

.about-us-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #444;
}

.about-transport {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-transport li {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.about-transport li:not(:last-child) {
  margin-bottom: 19px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  justify-content: space-between;
}

.contacts-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
}

.about-us-contacts {
  display: block;
  margin: 0;
  padding: 0;
  color: #444;
}



/* подписка */
.main-subscription {
  background-color: #F0F0F0;
}

.conteiner-subscription {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
  max-height: 420px;
  padding: 0;
  background-color: #F0F0F0;
}

.subscription-block {
  display: flex;
  
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.subscription-title {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 144px;
  padding: 0;
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  width: 348px;
}

.subscription-text {
  margin: 0;
  margin-top: 74px;
  margin-bottom: 144px;
  padding: 0;
  width: 560px;
  min-height: 90px;
  color: #444;

}

.subscription-span {
  display: block;
  margin: 0;
  padding: 0;
  width: 128px;
  color: #444;
}

.subscription-block:last-child {
  margin-bottom: 56px;
}

/* FOOTER */
.main-footer {
  color: #FFF;
  background-color: #444;
}

.conteiner-footer {
  margin: 0 auto;
  width: 1160px;
}

.logo-footer {
  display: block;
  width: 145px;
  height: 36px;
  margin: 0;
  margin-top: 62px;
  margin-bottom: 35px;
  padding: 0;
}

.footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.footer-menu-one {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-two {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  width: 240px;
  height: 40px;
}

.footer-menu-phone {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  width: 175px;
  height: 20px;
}

.footer-service-menu {
  list-style-type: none;
  width: 444px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-service-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #F0F0F0;
  text-decoration: none;
}

.decor {
  display: block;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.media {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 150px;
  justify-content: space-between;
}

.media-item {
  background-color: white;
}

.media-link {
  display: block;
  width: 40px;
  height: 40px;
}

/* СТРАНИЦЫ КАТАЛОГА */
/* заголовок страницы и хлебные крошки*/
.catalog-main-header {
  color: #000;
  background-color: #FFF;
}

.conteiner-main-header {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  background-color: #FFF;
}

.catalog-breadcrumbs {
  display: flex;
  flex-direction: column;
  width: 1079px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0;
  background-color: #FFF;
}

.main-catalog-title {
  font-family: "Raleway";
  color: #000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: block;
  margin: 0;
  padding: 0;
}
  
.breadcrumbs-item:not(:first-child) {
  margin-left: 16px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
}

.breadcrumbs-link {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
  line-height: 20px;
}

/* каталог */
.main-catalog {
  flex-grow: 1;
  background-color: #F0F0F0;
}

.conteiner-catalog-main {
  margin: 0 auto;
  width: 1160px;
}

.catalog-products {
  display: flex;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 1160px;
  /*justify-content: space-between;*/

}

/* фильтр каталога*/
.catalog-filter {
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 1316px;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #000;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

/* тело каталога*/
.catalog-chapter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 840px;
}


/* сортировка каталога */
.catalog-sort {
  display: flex;
  min-height: 30px;
  margin: 0;
  padding: 20px 40px;
  background-color: #F0F0F0;
  justify-content: space-between;
}

.sort-link {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000;
}

/* карточки каталога */
.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #FFF;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  margin: 0;
  row-gap: 44px;
  justify-content: space-between;
  padding: 70px 40px 44px;
  background-color: #FFF;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.product-card-link {
  text-decoration: none;
  display: block;
  width: 360px;
  height: 380px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.product-card-text {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  max-width: 226px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.product-card-price {
  margin: 0;
  padding: 0;
  color: #444;
}

/* пагинация каталога*/
.catalog-pagination-more {
  height: 61px;
  margin: 0 40px 44px;
  padding: 18px 39px;
  align-items: center;
  background-color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.catalog-pagination {
  display: flex;
  margin: 0 40px 78px;
  padding: 0;
  background-color: #FFF;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
}

.catalog-pagination-prev, .catalog-pagination-next {
  text-decoration: none;
  display: block;
  min-width: 128px;
  margin: 0;
  padding: 0;
}

.catalog-pagination-backward,
.catalog-pagination-forward {
  display: block;
  margin: 0;
  padding: 25px;
  font-family: Raleway;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-pagination-numbers {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.catalog-pagination-link {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}